.title {
  text-align: center;
  margin: 30px 0 50px 0; 
  padding: 10px 0;
  background-color: #f8f8f8;
}

.title h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.event-page {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
}

.event-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 20px;
}

.event-card.reverse {
  flex-direction: row-reverse;
}

.event-details {
  flex: 1;
  padding: 20px;
}

.event-details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #007bff;
}

.event-details p {
  font-size: 1.2rem; 
  line-height: 1.6;  
  color: #333;      
}

.event-image {
  flex: 1;
  text-align: center;
}

.event-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
  }

  .event-card.reverse {
    flex-direction: column;
  }

  .event-image img {
    max-width: 100%;
  }
}
